{% extends "voucher/base.html" %}
{% block content %}
 <div class="jumbotron">
  <h1 class="display-4">Welcome to E-Voucher</h1>
  <p class="lead">This is Admin Panel  </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/add_voucher" role="button">Add Voucher</a>
    <a class="btn btn-primary btn-lg" href="/get_voucher" role="button">Get all Valid Voucher</a>
    <a class="btn btn-primary btn-lg" href="/distribute_voucher" role="button">Distribute Voucher</a>
  </p>
</div>
{% endblock %}